* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    font-size: 18px;
    color: #f8edeb;
    font-family: 'Nunito', sans-serif;
    display: flex;
}

/*Mexe com a barra das informações na esquerda*/
#conteiner {
    width: 40%;
    max-width: 40%;
    background-color: rgba(2, 0, 105, 0.637);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Div criada para mexer na caixa de Especialidade Desejada até CRO*/
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 15px;
}

.inputs label{
   margin-top: 5px;
}

.selects {
    padding: 5px;
    margin: 2px;
    width: 76%;
}

/*Classes dos labels na página*/
.registro {
    padding: 2px;
    margin: 1px;
}

/*Mexendo nos inputs de toda a página*/
.input-registro, .input-endereço {
    padding: 6px;
    width: 250px;
    border: 1px solid #ccc;  
}


#botao {
    padding: 15px;
    width: 130px;
    margin-top: 10px;
    background-color: rgb(190, 255, 85);
    border-color: #68a7dd;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}

/*Endereço Profissional*/
legend{
    margin-top: 15px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(10, 3, 34, 0.719);
}

/*Caixa do endereço profissional*/
.divisor{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top:10px;
    padding: 10px;
}

/*colocando a div lado a lado*/
.div1, .div2{
    width: 50%;
    margin: 5px;
}

/*Formatação do texto da página*/
main{
    color: black;
    margin: 20px;
    text-align: justify;
    height: 93vh;
    font-size: 13.1px;
    font-family:Calibri;
}

/*Classe criada para definir a formatação da página após clicar no 'Gerar Contrato' substituindo a main*/
.formatar{
    height: 700px;
    width: 1122px;
    margin: 0 auto;
}

.imagem-contrato{
    width: 100%;
    height: 130px;   
}

.titulo-contrato{
    text-align: center;
    margin-top: -35px;
    margin-bottom: 30px;
    font-weight: 700;
}

/*Div que envolve todo o texto da página*/
.texto{
    width: 87%;
    margin-left: 60px;
}

/*rodapé da 1° página do contrato*/
.foter{
    width: 100%;
    z-index: -1;
    height: 60px;
}

/*rodapé da 2° página*/
.rodape{
    margin-top: 80px;
    width: 100%;
    height: 60px;
    z-index: -1;
}

/*Centraliza a aba de preenchimento das datas na 2° página*/
#centro-data{
text-align: center; 
margin-top: 20px;
}

/*Mexe com as abas de assinaturas de cima do CONTRATANTE E TESTEMUNHA 01 (___)*/
.centro-assinatura{
    text-align: left; 
    margin-top: 35px;
    margin-left: 70px;
}

/*Mexe com as abas de assinaturas de cima do contratado e testemunha*/
.baixo-assinatura{
    margin-left: 160px;
}

/*Mexe com a posição do CONTRATADO e TESTEMUNHA 02*/
.centro-testemunha{
    margin-left: 250px
}

/* Mexe com a posição do CONTRATANTE e testemunha 01*/
.contratante-testemunha{
    text-align: left; 
    margin-left: 125px
}

/* Da um top em todo o campo NOME e CPF*/
.top-nome-cpf{
    margin-top: 35px;
}

/* Mexe com o NOME e CPF do lado esquerdo*/
.nome-cpf{
    text-align: left; 
    margin-left: 25px; 
}

/*Mexe com o NOME e CPF do lado direito*/
.campo-nome-cpf{
    margin-left: 120px;
    margin-top: 150px;
}



