* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    
}

/*Mexe com a barra das informações na esquerda*/
#conteiner {
    width: 50%;
    max-width: 40%;
    background-image: url(Imagens/imagem2.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

/* Selects e abas do inputs até CRO profissional*/
.inputs-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 15px;
}

.inputs-top p{
    margin-top: 10px;
}

.selects {
    padding: 5px;
    width: 250px;
    background: transparent;
    color: white;
}

.selects option{
    color: blue;
}

/* alteração para todos os inputs da página*/
input{
    background: transparent;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
}

input::placeholder{
    color: #c9ada7;
}

/*Classe de todos os labels*/
.registro {
    padding: 2px;
    margin-top: 10px;
}

/*inputs até CRO*/
.input-registro {
    padding: 6px;
    width: 250px;
}

legend{
    margin-top: 5px;
}

/*Caixa do endereço profissional*/
.divisor{
    display: flex;
    text-align: center;
    width:100%;
    margin-top:10px;
    padding: 10px;
}

/* inputs do endereço profissional*/
.endereco-p{
    padding: 10px;
    width: 90%;
}

/*estilo do botão de imprimir*/
.botao {
    padding: 12px 25px;   
    border-radius: 40px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: rgb(70, 139, 243);
    border: none;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.botao::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(88, 88, 184);
    z-index: -1;
    transition: .5s ease;
}

.bt1::before{
    width: 0;
    height: 100%;
}

.bt1:hover::before{
    width: 100%;
}

/*Formatação do texto da página*/
main{
    color: black;
    text-align: justify;
    font-size: 13.1px;
    font-family:Calibri;
    width: 1122px;
}

/*Deixa o texto na parte esquerda ocupando os 40% da página inicial*/
#on-off{
    margin-left: 40%;
}

.imagem-contrato{
    width: 100%;
    height: 120px;   
}

.titulo-contrato{
    text-align: center;
    margin-top: -35px;
    margin-bottom: 30px;
    font-weight: 700;
}

.texto-p1{
    margin-left: 60px;
    width: 87%;
}

/*rodapé da 1° página do contrato*/
.footer-p1{
    width: 100%;
    z-index: -1;
    height: 60px;
}

/*rodapé da 2° página*/
.rodape{
    margin-top: 80px;
    width: 100%;
    height: 60px;
    z-index: -1;
}

/*Centraliza a aba de preenchimento das datas na 2° página*/
#centro-data{
text-align: center; 
margin-top: 20px;
}

/*Mexe com as abas de assinaturas de cima do CONTRATANTE E TESTEMUNHA 01 (___)*/
.centro-assinatura{
    text-align: left; 
    margin-top: 35px;
    margin-left: 70px;
}

/*Mexe com as abas de assinaturas de cima do contratado e testemunha*/
.baixo-assinatura{
    margin-left: 160px;
}

/*Mexe com a posição do CONTRATADO e TESTEMUNHA 02*/
.centro-testemunha{
    margin-left: 250px
}

/* Mexe com a posição do CONTRATANTE e testemunha 01*/
.contratante-testemunha{
    text-align: left; 
    margin-left: 125px
}

/* Da um top em todo o campo NOME e CPF*/
.top-nome-cpf{
    margin-top: 35px;
}

/* Mexe com o NOME e CPF do lado esquerdo*/
.nome-cpf{
    text-align: left; 
    margin-left: 25px; 
}

/*Mexe com o NOME e CPF do lado direito*/
.campo-nome-cpf{
    margin-left: 120px;
    margin-top: 150px;
}

#nome-clinica, #cnpj-clinica, #endereco-clinica, #nome-profissional, #cpf-profissional, #cro-profissional, #endereco-profissional{
    font-weight: bold;
    text-transform: uppercase;
}



